* {
  background-color: black;
}

h1 {
  padding: 20px;
  color: white;
}

div {
  text-align: center;
}

.list-container {
  display: flex;
  width: 100%;
  background-color: blue;
  border-radius: 5px;
  padding: 10px;
}

.container {
  display: flex;
  padding: 40px;
}

.option-input {
  height: 40px;
  width: 40px;
}

.list {
  width: 100%;
  align-items: middle;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background-color: blue;
}

.svg {
  height: 20px;
  width: 20px;
  background-color: transparent;
}

.addRow {
  height: 25px;
  width: 25px;
  background-color: transparent;
}
